/*
    Author: Levi Smith
    Version: Alpha
    Date: 07/09/2025
*/

* {
    margin: 0;
    padding: 0;
}

:root {
	--dark-rock-grey: #2e2e2e;
	--light-rock-grey: #515151;
}

html {
    background-color: var(--dark-rock-grey);
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: white;
}


/* ----------HEADER---------- */
header {
    padding: 0.5em 1em;
    border: solid white 2px;
    background-color: var(--light-rock-grey);
}

/* ----------MAIN---------- */

main {
    display: flex;
    

}

main section {
    border: solid white 2px;
}

main section#towerdisplay {
    width: 65%;
}

main section#console {
    width: 35%;
    background-color: black;
}

main div#towermap {
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

main div.tower .imgdiv {
    position: relative;
}

main div.tower img {
    display: block;
    margin: auto;
    width: 100%;
}

main div.tower .towerdata {
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: transparent;
  color: white;

  font-size: small;
}

main div.tower {
    padding: 0.5em;
    border: solid white 2px;
}

main div.tower * {
    background-color: var(--dark-rock-grey);
    color: white;
}

main div.tower div.selectiondiv {
    margin-bottom: 0.4em;
    display: flex;
}

main div.tower button, main div.tower select {
    width: 100%;
}


/* ----------FOOTER---------- */
footer {
    padding: 0.5em 1em;
    border: solid white 2px;
    background-color: var(--light-rock-grey);
}